.homepage{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 4vw;
}

.homepage-wrapper{
    display: flex;
    flex-direction: row;
}

.text-wrapper{
    font-size: calc(1px + 1.5vw);
    color: white;
    font-family: "Lucida Console"
}
p{
    padding: 1vw;
}

.cat-wrapper{
    margin: 0;
}

img{
    width: 100%;
}

.about{
    font-size: calc(1px + 1.1vw);
    padding: 0 2vw 0 2vw;
    margin: 0.5vw;
}